.btn {
    font-size: 20px;
    color: white;
    background-color: #e14b4e;
    padding: 16px 48px;
    margin: 30px auto;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.btnLink {
    color: white;
    text-decoration: none;
    cursor: pointer;
}