.audioPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.trackGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.btnDownload {
  color: white;
  background-color: #e14b4e;
  padding: 12px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#downloadIcon {
  height: 24px;
  width: 24px;
}

@media (max-width: 400px) {
  .trackGroup {
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
  }
  .btnDownload {
    padding: 12px 138px;
    border-radius: 30px;
  }
}

@media (max-width: 310px) {
  .trackGroup {
    gap: 10px;
    flex-wrap: wrap;
  }
  .btnDownload {
    padding: 12px 113px;
    border-radius: 30px;
  }
  audio {
    max-width: 250px;
  }
}
