.trackGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;
}

.btnDownload {
  color: white;
  background-color: #e14b4e;
  padding: 12px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#downloadIcon {
  height: 24px;
  width: 24px;
}
